.body{
    background-color: rgb(7, 3, 24);
    font-family: 'Playfair Display';
    color: white;
    text-align: center;
    letter-spacing: 10px;
    font-size: 30px;

}

#title{
    color: white;
}

h1 {
    margin: 20px;
}

h3 {
    margin: 20px 20px 40px 20px;
}

#clock{ 

    display:flex;
    justify-content: space-around;
    font-size: 110px;
}

#hour, #minute, #second { 
    background-color: rgb(46, 196, 182);
    font-family: 'arial';
    color: white;
    padding: 150px 200px 150px 150px;
    border-radius: 10% 10% 0% 0%;
    text-shadow: black 2px 2px 6px;
    width: 100px;
    text-align: center;
}

#hour-letter, #minute-letter, #second-letter {
    background-color: rgb(255, 159, 28);
    font-family: 'Playfair Display';
    color: black;
    padding: 30px 90px 30px 90px;
    border-radius: 12px;
    text-shadow: black 2px 2px 6px;
    width: 272px;
    border-radius: 0 0 20px 20px;

}

#clock-letter{ 

    display:flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 10px 0 10px 0; 
}
